/* COLOR SCHEME
dark blue #2c3e50
yellowish #e7cc26
whitey #ecf0f1
bright blue #3498db
less bright blue #2980b9 
*/

body {
    margin: 60px auto;
    width: 100%;
    text-align:center;
    color: #2c3e50;
	line-height:1.4;
	font-size:16px;
	background-color:#ecf0f1;

}

#front-page-images{
	width:60%;
	margin: auto;
}

nav ul, footer ul {
    font-family:"Open Sans";
    padding: 0px;
    list-style: none;
    font-weight: bold;

}
nav {
    background-color:#3498db;
}

nav ul li {
	display: inline-block;
	position:relative;
	border-left: 1px solid #2980B9;
}

nav ul li a{
    color:white;
	padding: 18px 20px;
	display:block;
}

nav ul li:first-child{
	padding-left:0px;
	border-left: medium none;
}

nav ul{
    text-transform: uppercase;
    vertical-align: baseline;
	list-style: outside none none;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
   
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
#rsvp-form label{
    display:block;
    text-align: left;
    margin-top:15px;
}
#rsvp-form input {
    border: 1px solid #D4D4D4;
    box-shadow: none;
    padding: 13px 10px;
    word-break: normal;
    font: inherit;
    color: #696868;
    width:100%;
    
}
#rsvp-form fieldset {
    border:none;
    width:75%;
    margin:auto;
}
#rsvp-container{
    margin:auto;
    width:75%;
}

#rsvp-form #rsvp-send{
    background-color:#3498db;
    color:white;
    display: inline-block;
    line-height: 1;
    border-radius: 7px;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: medium none;
    cursor: pointer;
    width: 260px;
    text-align: center;
}

#rsvp-form input[type='radio']:not(old){
 /* Hide the input, but have it still be clickable */
    width   : 28px;
    margin  : 0;
    padding : 0;
    opacity : 0;
}

#rsvp-form input[type='radio']:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('/images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

#rsvp-form input[type='radio']:not(old):checked + label{
    background-position : 0 -48px;
}
#rsvp-form .yes-no{
display:inline;margin:auto 20px;
}