<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type='text/javascript' src='/javascript/jquery-2.1.3.min.js'></script>
			<script type='text/javascript' src='/javascript/jquery.backstretch.min.js'></script>
			<!--Prefetch DNS for external resource to speed up loading time -->
			<link href="//fonts.googleapis.com" rel="dns-prefetch"></link>
			<!--[if lt IE 9]>
		<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
			<![endif] -->
			
		</head>
		<body>
			<!-- <img src="/images/logo.png" />-->
			<nav>
	    		<ul>
	        		<li><a href="/">Welcome</a></li>
		        	<li><a href="/about">Our Story</a></li>
	        		<li><a href="/location">Location</a></li>
	        		<li><a href="/rsvp">RSVP</a></li>
				<li><a href="/photos">Photos</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:christopherkodama@gmail.com">email</a></li>
	        	</ul>
			</footer>
		</body>
	</html>
